<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="body">
<h1>Smart-Persienner</h1>
<div class="automatiskdiv">
    <h2>Automatisk</h2>
    <h4>Tryk på knappen for at aktivere automatisk indstilling af persenner</h4>
    <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>
</div>

<div class="manueldiv">
    <h2>Manuel</h2>
    <h4>Træk i knappen for at vælge hvor du vil have dine persienner</h4>
    <input type="range" min="400" max="1000" step="1" value="500" />

</div>

<div class="vejrprognosediv">
    <h2>Vejr prognose</h2>
    <div class="vejrprognosebilled">
        <img src="vejrprognose-140214.png">
    </div>

    <div class="divlumens">
    <h2>Lumens</h2>
    <ul>
        {% for lightvalue in lightvalues %}
            <li>{{ lightvalue.Lightvalue|e }}</li>
        {% endfor %}
    </ul>
    </div>

    <div class="divweather">
        <h2>Vejr Dato</h2>
        <ul>
            {% for data in weatherdata %}
                <li>{{ data.WeatherDate|e }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="divtemperatur">
        <h2>Temperatur</h2>
        <ul>
            {% for data in temperature %}
                <li>{{ data.Temperature|e }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="divcloudiness">
        <h2>Skyet</h2>
        <ul>
            {% for data in cloudiness %}
                <li>{{ data.Cloudiness|e }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="divsunrise">
        <h2>Solopgang</h2>
        <ul>
            {% for data in sunrise %}
                <li>{{ data.Sunrise|e }}</li>
            {% endfor %}
        </ul>
    </div>

</div>
</body>
</html>

